<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kalei.fartgames">

    <!--required permission-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--optional permission - highly recommended-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--optional permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
            android:name=".FartApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="c972bfa76ea337247175a6cc36112e65a8385cd4"/>
        <activity
                android:noHistory="true"
                android:name=".activities.SplashActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MenuActivity"
                  android:label="@string/menu"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.GameActivity"
                  android:label="@string/game"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.SettingsActivity"
                  android:label="@string/game"
                  android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
